<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MySqlConnection" connectionString="Server=localhost;Port=3307;Database=investbe_;Uid=investbe_satoplus;Pwd=86c1Dxm_0;SslMode=none;Convert Zero Datetime=True;Allow User Variables=True;" />
  </connectionStrings>
  <appSettings>
    <add key="Upstream:BaseUrl" value="https://personal-b0zlpsmh.outsystemscloud.com/TokuPlus_API/rest/RESTAPITOKUPLUS/" />
    <add key="Upstream:IgnoreInvalidCertificate" value="true" />
    <add key="JwtSecretKey" value="KlkvtINGHP3RdAO6dUrcPrlSd8H6961GBiEUl4oLUzU=" />
    <add key="JwtAccessTokenExpirationHours" value="6" />
    <add key="JwtMaxAccessTokenDays" value="30" />
    <add key="JwtRefreshTokenExpirationDays" value="7" />
    <add key="Swagger:Enabled" value="false" />
    <add key="MySql:ConnectionString" value="Server=localhost;Port=3307;Database=investbe_;Uid=investbe_satoplus;Pwd=86c1Dxm_0;SslMode=none;Convert Zero Datetime=True;Allow User Variables=True;" />
  </appSettings>
  <system.web>
    <customErrors mode="RemoteOnly" />
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Hosting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Host.SystemWeb" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <directoryBrowse enabled="false" />
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
