<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Upstream:BaseUrl" value="https://personal-b0zlpsmh.outsystemscloud.com/TokuPlus_API/rest/RESTAPITOKUPLUS/" />
    <add key="Upstream:IgnoreInvalidCertificate" value="true" />
    <add key="JwtSecretKey" value="O27SsHhvv7ZQ7bzI2ztVbGG9KYuf6RNE4TIDz1a+myI=" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin" />
      <publisherPolicy apply="no" />
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
        <publisherPolicy apply="no" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
